backports-abc==0.5
backports.functools-lru-cache==1.6.1
configparser==4.0.2
contextlib2==0.6.0.post1
cycler==0.10.0
decorator==4.4.2
dill==0.3.1.1
docutils==0.16
enum34==1.1.10
fast-histogram==0.7
futures==3.3.0;python_version<"3.2"
importlib-metadata==1.5.0
interlap==0.2.6
kiwisolver==1.1.0
lib5c==0.6.0
lockfile==0.12.2
luigi==2.8.12
matplotlib==2.2.5
mpl-scatter-density==0.6
mpmath==1.1.0
numpy==1.16.6
pandas==0.24.2
pathlib2==2.3.5
patsy==0.5.1
powerlaw==1.4.6
pyparsing==2.4.6
python-daemon==2.2.4
python-dateutil==2.8.1
pytz==2019.3
scandir==1.10.0
scikit-learn==0.20.4
scipy==1.2.3
seaborn==0.9.1
singledispatch==3.4.0.3
six==1.14.0
statsmodels==0.10.2
subprocess32==3.5.4
tornado==5.1.1
tqdm==4.43.0
zipp==1.2.0
